---
---

@import "{{ site.theme }}";

body {
    font-size: 16px;
}
a {
    color:#7226b9;
    text-decoration:none;
  }

a strong {
    color: inherit;
  }

a:hover, a:focus {
    color:#5d1e98;
    font-weight: bold;
  }
  
ul > li {
    margin-bottom: 8px;
  }

ul ul > li {
    margin-bottom: 0px; /* override for sub-bullets */
  }

.no-space {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Justify body text */
section {
    text-align: justify;
}

/* Reduce gap between sidebar and main content (desktop only) */
@media screen and (min-width: 768px) {
    section {
        width: 550px;
    }
}

/* Increase line spacing for menu links */
header a {
    line-height: 2.0;
}