---
---

@import "{{ site.theme }}";
a {
    color:#7226b9;
    text-decoration:none;
  }

a:hover, a:focus {
    color:#5d1e98;
    font-weight: bold;
  }
  
ul > li {
    margin-bottom: 8px; 
  }

ul ul > li {
    margin-bottom: 0; /* override for sub-bullets */
  }